@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');


@font-face {
    font-family: 'harry';
    src: url('../fonts/harry.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #01060c;
    color: white;
    background-image: none;
  
}


.parent {
    width: 100%;
    min-height: 30vh;
    position: relative;
}

nav {
    width: 100%;
    height: 10%;
    background-color: #0e0218;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
}

.navbar-collapse,
footer {
    background-color: #0e0218;
}

header h1 {
    font-size: 38px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Holtwood One SC', serif;
    color: #7dffa4;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

header h1:hover {
    letter-spacing: 8px;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-item a {
    font-size: 20px;
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-item a:hover {
    color: #7bffa3;
}


.main {
    position: relative;
    width: 100%;
    min-height: 30vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 80px;
    font-family: harry;
    letter-spacing: 5px;
    text-decoration: none;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}


.main h1:hover {
    letter-spacing: 8px;
}
.best-bar a p{
    color: #FFF;
    text-decoration: none;
    margin-top: 20px;
    font-size: 32px;
}
.best-bar a{
    text-decoration: none;
    transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
}

.best-bar a:hover{
    border-color: #51ff9f;
    filter: none;
    transform: scale(1.03);
}

.slider-img {
    filter: grayscale();
    filter: grayscale();
    border: 1px white solid;
    -webkit-filter: grayscale();
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.slider-img:hover {
    border-color: #51ff9f;
    filter: none;
}

.best-bar {
    display: flex;
    width: 100%;
    margin-top: 20px;
    min-height: 30vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.best-bar h1{
    color: white;
    font-size: 20px;
}

.second
 {

    width: 100%;
    min-height: 30vh;
    background-color: #01060c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    background-color: #23043c;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}




::-webkit-scrollbar {
    width: 5px;



}

::-webkit-scrollbar-track {
    background: rgb(18, 1, 22);
}


::-webkit-scrollbar-thumb {

    background: #440069;

}


::-webkit-scrollbar-thumb:hover {
    background: #5f0092;
}