@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');


@font-face {
    font-family: 'harry';
    src: url('../fonts/harry.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #01060c;
    color: white;
    /* background-image: url(https://img.freepik.com/free-vector/beautiful-witch-flying-broom-near-haunted-house-cartoon-illustration_107791-6787.jpg?t=st=1653433171~exp=1653433771~hmac=ff5e2e126a526062a6d5f36fa7836cca90402483238e1f945781feddf51337ad&w=1380); */
    background-image: url(https://media1.popsugar-assets.com/files/thumbor/WCzZSP8GUbu9P1T6Y2JrdcMl-7o/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/02/28/011/n/24155406/tmp_2KX4zy_bd9f4ca2a0c89a2e_Dark_Arts_-_WWoHP_at_Universal_Studios_no_logo_.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.parent {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

nav{
    width: 100%;
    height: 10%;
    background-color: #0e0218;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
}

.navbar-collapse, footer{
    background-color: #0e0218;
}

header h1{
    font-size: 38px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Holtwood One SC', serif;
    color: #7dffa4;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

header h1:hover{
    letter-spacing: 8px;
}

.nav-item{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-item a{
    font-size: 20px;
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-item a:hover{
    color: #7bffa3;
}

.Cover{
    background-color: #000000;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 75%;
}

.main{
    position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.main h1, .main a{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 300px;
    font-family: harry;
    letter-spacing: 5px;
    text-decoration: none;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.main a:hover,.main h1:hover{
    color: #7bffa3;
    letter-spacing: 8px;
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.second,.third,.forth ,.quotes,.line{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(17, 1, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third{
    background-color: rgb(10, 1, 13);
}

.forth{
min-height: 15vh;
}


.second h1,.third h1,.forth h1,.quotes h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 70px;
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: bolder;
    font-family: harry;
    text-align: center;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.third h1, .footer-brand {
color: #51ff9f;
}

.second h1:hover ,.third h1:hover,forth h1:hover,.quotes h1:hover {
    letter-spacing: 12px;
}

.best-bar {
    display: flex;
    width: 100%;
    min-height: 30vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.slider-img{
    filter: grayscale();
    filter: grayscale();
    -webkit-filter: grayscale();
    transition: .5s ease-in-out;
}

.slider-img:hover{
    filter: none;
    transform: scale(1.03);
}

.quotes{
    min-height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: solid black 1vh;
    text-align: center;
}

.quotes .container{
    z-index: 4;
}
.quotes h1{
    z-index: 8;
}

.quotes h6{
    opacity: 10%;
    font-size: 50px;
    z-index: 5;
    text-transform: capitalize;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


.quotes h6:hover {
    opacity: 100%;
}

.cover2 {
    position: absolute;
    min-height: 60vh;
    width: 100%;
    background-color: black;
    opacity: 60%;
}

.line{
    min-height: 1vh;
    background-color: #01060c;
}


#nemo{
    background-image:url(https://images4.alphacoders.com/216/216514.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter:grayscale() ;
    -webkit-filter:grayscale() ;
    transition:.7s ;
    -webkit-transition:.7s ;
    -moz-transition:.7s ;
    -ms-transition:.7s ;
    -o-transition:.7s ;
}
#nemo:hover,#harry:hover,#lord:hover{
    filter: none;
    -webkit-filter: none;
}


#harry{
    background-image: url(https://www.looper.com/img/gallery/the-most-intense-harry-potter-scene-we-never-got-to-see/l-intro-1600285406.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 40px ;
    filter: grayscale();
    -webkit-filter: grayscale();
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

#harry h1{
    font-size: 50px;
}

#lord {
    background-image: url(https://wealthofgeeks.com/wp-content/uploads/2021/12/Fellowship-of-the-Rings.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 40px;
    filter: grayscale();
    -webkit-filter: grayscale();
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

#lord h1 {
    font-size: 50px;
}


.socialmedia i{
    color: #fff;
    margin-right: 24px;
    transition: all .5s ease-in-out;
}

.socialmedia i:hover{
    color: #51ff9f;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;



}

::-webkit-scrollbar-track {
    background: rgb(18, 1, 22);
}


::-webkit-scrollbar-thumb {
    
    background: #440069;

}


::-webkit-scrollbar-thumb:hover {
    background: #5f0092;
}








